@import "./scss/search";
@import "./scss//weather";
@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body,
html {
  font-size: 16px;
  background: #eee;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

#main-app {

  .container {
    padding: 0;
    max-width: 375px;
    min-height: 100vh;
    background: #fff;
    border-radius: 12px;
    @include media-breakpoint-down(md) {
      border-radius: 0;
    }

  }
}


