#search-box {
  form {
    margin-top: 1rem;
  }
  input {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    visibility: hidden;
    border-radius: 15px;
    background: rgb(243, 243, 243);
    padding: .15rem .75rem;
    border: 0;
    z-index: 1;
    &:active, &:focus {
      outline: none;
    }
    &.expand {
      visibility: visible;
    }
  }

  .btn {
    position: relative;
    font-size: 16px;
    line-height: 1em;
    outline: none;
    z-index: 2;
    float: right;
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    &:hover {
      color: #fdb813;
    }
    &:active, &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
