@import "node_modules/bootstrap/scss/bootstrap";
#weather-box {
    margin-top: .25rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    img {
        width: 250px;
        height: 250px;
        padding: .25rem;

    }

    h1 {
        font-size: 3.75rem;
    }
    h2 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1rem;
    }

    .city {
        margin-top: .25rem;
    }

    .temperature {
        margin-top: 1.25rem;
        font-weight: 600;
        margin-bottom: 1.25rem;

    }

    .celsius {
        font-size: 1rem;
        vertical-align: super;
    }

    .value {
        font-weight: 300;
    }

    p {
        font-size: 1.25rem;
    }

}